
html {
    height: 100%;
}

body
 {
 
filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#FFFFFF', EndColorStr='#202020');
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#FFFFFF), to(#202020));
    background: -moz-linear-gradient(top, #FFFFFF, #202020);
    height: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
  
}
 


.wrapper
{
width:960px;
margin:auto;
}

.pageHeader
{
padding-top:18px;
font-family: Tahoma, Arial, Helvetica, Sans-Serif;  
color: #ffffff;
text-align: center; 
font: normal bold 26px Arial; 
position:relative; 

}

h3
{
color: #e69138;
}
.header
{
height:25%;
background-color:#6B6B6B ;
border-top-left-radius: 13px;
border-top-right-radius: 13px;

}

.content
{
clear:both;
width:960px;
height:auto;
background-color:white ;
border: 1px solid #efefef;
border-bottom-left-radius: 13px;
border-bottom-right-radius: 13px;
position:relative; 
overflow:auto;
}

.post
{
float:left;
width:78%;
height:auto;
}

h2
{
  display: block;
  text-align: left;
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  font-size: 18px;  
  color: #16221D;

}
.rightNav
{
clear:both;
margin-left:78%;
float:right;
position:absolute;
width: 20%; 
}

.inline
 {
 display:inline;
 }
 
.text
{
font-family: Tahoma, Arial, Helvetica, Sans-Serif;
font-size: 14px;  
color: #16221D;
text-decoration:none;
margin-left:8px;
line-height:1.5em;
}
.rightLinks{
margin: 5px;
border: 1px solid #313031;
border-radius: 12px;
}

.linkHeader
{
 background-color: #757478;
 width:97%;
 height: 20px;
 margin:auto;
 border-radius: 12px;

font-family: Tahoma, Arial, Helvetica, Sans-Serif;
font-size: 14px;  
color: #ffffff;
text-decoration:none;
text-align:center;
}

.linkHeight
{
height:20px;
text-decoration:none;
}


.menu
{
font-family: Tahoma, Arial, Helvetica, Sans-serif;
text-align:left;
color:#0097c5
}

.mainmenu
{
float:left;
width:956px;
padding:02px;
margin:0;
background-color:#226688;
}

.menutext
{
float:left;
width:158px;
text-decoration:none;
font-family: Tahoma, Arial, Helvetica, Sans-serif;
text-align:center;
color:white;
background-color:#226688;
}

.menutext:hover 
{
 background-color:#e69138;
}

.lefttext:hover {color:#1D2225;
}
.order {display:inline;}
 
 .tabs
 { 
 margin-top:80px;
 float:left; 
 width: 12%; 
 height:20px;
 font: normal bold 14px Arial; 
 color: #F4F1F4; 
 padding-top: 0 px;
 text-align: center;
  background-color: #B5B5B5;
  border: 1px solid #313031;
  border-radius: 8px;
  text-decoration:none;
 }

.tabs:hover 
{
 font: italic bold 14px Arial ; 
 background-color:#e69138 ;
}

#slider_container_2 { float: left; margin: 0 0 0 20px; padding: 15px; width: 700px; background: url(../Images/bg.png) no-repeat 0 0; }

.SliderName_2 {
	float: left;
	width: 700px;
	height: 450px;
	overflow: hidden;
}

.SliderNamePrev_2 {
	background: url(../Images/left.png) no-repeat left center;
	width: 50px;
	height: 450px;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	text-decoration: none;
}

.SliderNameNext_2 {
	background: url(../Images/right.png) no-repeat right center;
	width: 50px;
	height: 450px;
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	text-decoration: none;
}
.c { clear: both; }

.SliderName_2Description {
	padding: 10px;
	font-family: Tahoma,Arial,Helvetica;
	font-size: 14px;
	line-height: 30px;
	letter-spacing: 1px;
	text-align: center;
	color: #ffffff;
	text-shadow: 0 1px 3px #000000;
}

#SliderNameNavigation_2 { margin: 0; padding: 10px 0 0 0; height: 16px; text-align: center; overflow-y: hidden; }

#SliderNameNavigation_2 a:link, #SliderNameNavigation_2 a:active, #SliderNameNavigation_2 a:visited, #SliderNameNavigation_2 a:hover{
	margin: 0;
	padding: 0;
	font-size: 0;
	line-height: 0;
	text-decoration: none;
}

#SliderNameNavigation_2 a img
{
	border: none;
	width: 16px;
	height: 16px;
	background: url(../Images/bullet.png) no-repeat center center;
}

#SliderNameNavigation_2 a.active img
{
	background: url(../Images/bullet_active.png) no-repeat center center;
}
